/**
 * @file
 * All of the styles for the theme.
 */

/**
 * Fonts
 */
@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/opensans-l.eot');
  src: url('fonts/opensans-l.eot??#iefix') format('embedded-opentype'),
    url('fonts/opensans-l.woff2') format('woff2'),
    url('fonts/opensans-l.woff') format('woff');
}
@font-face {
  font-family: 'opensans';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/opensans-b.eot');
  src: url('fonts/opensans-b.eot??#iefix') format('embedded-opentype'),
    url('fonts/opensans-b.woff2') format('woff2'),
    url('fonts/opensans-b.woff') format('woff');
}

/**
 * Fixes from normalize.css
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}

/*--Type Selectors--*/
/*-Body-*/
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  -webkit-font-smoothing: subpixel-antialiased;
}
html, button, input, select, textarea {
  font-family: 'opensans', Arial, sans-serif;
}
body {
  background: #fff;
  color: #222;
  font-family: 'opensans', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.45;
  margin: 0;
}

/*-Link-*/
a:link {
  color: #37b;
  text-decoration: none;
}
a:visited, a.visited {
  color: #575294;
}
a:hover, a.hover {
  color: #f70;
}
a:active, a.a-active {
  color: #f70;
}
a:focus, a.focus {
  outline: thin dotted;
}

/*-List-*/
ul, ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}
dl {}
  dt {
    margin: 1.5em 0 0;
  }
  dd {
    color: #888;
    font-size: .75em;
    margin: 0;
  }

/*-Heading-*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'opensans', Verdana, sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 2.5em;
  line-height: 1;
  margin: .1em 0 .2em;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  margin: 1.5em 0 .25em;
}
  h2 > a:link, h2 > a:visited {
    color: inherit;
  }
h3 {
  font-size: 1.5em;
  margin: 1.5em 0 .5em;
}
  h3 > a:link, h3 > a:visited {
    color: inherit;
  }
h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 1.33em 0;
  text-transform: uppercase;
}
  h4 > a:link, h4 > a:visited {
    color: inherit;
  }
h5 {
  border-bottom: 1px solid;
  font-size: 1.25em;
  font-weight: normal;
  margin: 1.67em 0;
}
  h5 > a:link, h5 > a:visited {
    color: inherit;
  }
h6 {
  font-size: 0.9em;
  font-weight: normal;
  margin: 2.33em 0;
}
  h6 > a:link, h6 > a:visited {
    color: inherit;
  }

/* Table */
table {
  background: #fefefe;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0 none;;
  empty-cells: show;
  text-align: left;
  width: 100%;
}
  caption {
    font-size: .75em;
    text-align: left;
  }
  thead {
    background: #ddd;
  }
    th {
      font-size: 1.25em;
      font-weight: normal;
    }
  tbody tr:hover,
  .even {
    background: #f7f7f7;
  }
  td, th {
    padding: .5em 1em;
  }

/* Form */
form {}
  fieldset {
    background: #f7f7f7;
    border: 0 none;
    border-top: 3px solid #333;
    margin: 0 0 4em;
    padding: .5em 1em;
  }
    legend {
      font-size: 1.25em;
    }
input, select, textarea {
  border: 1px solid #ccc;
  font-size: 100%;
  margin: 0;
  padding: .1em 0 .1em .25em;
  vertical-align: baseline;
  *vertical-align: middle;
}
  input {
    line-height: normal;
  }
    input[size] {
      max-width: 90%;
    }
  input[type="button"],
  input[type=file]::-webkit-file-upload-button,
  input[type="reset"],
  input[type="submit"] {
    background: #37b;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0 .5em .5em 0;
    padding: .3em .9em;
    text-decoration: none;
    *overflow: visible;
  }
    input[type="reset"],
    input[type="submit"]:not(.form-submit) {
      background: #d54;
    }
    input[type="button"]:hover,
    input[type=file]::-webkit-file-upload-button:hover,
    input[type="reset"]:hover,
    input[type="submit"]:hover {
      background: #024;
    }
    input[type="button"]:active,
    input[type=file]::-webkit-file-upload-button:active,
    input[type="reset"]:active,
    input[type="submit"]:active {
      color: #024;
    }
    input[type="button"]:focus,
    input[type=file]::-webkit-file-upload-button:focus,
    input[type="reset"]:focus,
    input[type="submit"]:focus {
      outline: 1px dashed;
    }
    button[disabled], input[disabled] {
      cursor: default;
    }
      input[type="button"]:disabled,
      input[type="reset"]:disabled, 
      input[type="submit"]:disabled {
        background: #ccc;
        color: #222;
      }
input[type=file] {
  padding: .1em;
}
  input[type=file]::-webkit-file-upload-button {
    font-size: .95em;
    margin: 0;
  }
label {
  display: inline-block;
  min-width: 10em;
  vertical-align: top;
}

/*-Other-*/
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  white-space: nowrap;
}
address{
  font-style: normal;
}
b, strong {
  font-weight: bold;
}
blockquote {}

dfn {
  font-style: italic;
}
embed, img, object {
  max-width: 100%;
}
  img {
    border: 0;
    -ms-interpolation-mode: bicubic;
  }
hr {
  background-color: #ccc;
  border-width: 0;
  color: #ccc;
  height: 1px;
  line-height: 0;
  margin: 1.5em 0;
}
mark {
  background: #ff0;
  color: #000;
}
p {
  margin: 1.5em 0;
}
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
  q:before, q:after {
    content: '';
    content: none;
  }
small {
  font-size: 75%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
svg:not(:root) {
  overflow: hidden;
}

/*--Classes/Roles--*/
ul.action-links {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}
  .action-links > li {}
  .action-links > li > a {
    background: #222;
    color: #fff;
    display: inline-block;
    margin: .2em .5em .2em 0;
    padding: .2em .4em;
  }
    .action-links > li > a:hover {
      background: #888;
    }
body.admin-menu {
  margin-top: 30px !important;
}
  #admin-menu a {
    font-style: normal;
  }
.breadcrumb {
  color: #ccc;
  font-size: .75em;
  margin: 0 0 1em;
  padding: 5px 0;
}
  .breadcrumb a {
    color: #aaa;
  }
    .breadcrumb a:hover {
      color: #888;
      text-decoration: underline;
    }
  .breadcrumb .delimiter {
    color: #bbb;
    display: inline-block;
    margin: 0 5px;
  }
.contextual-links-region {
  position: relative;
}
  .contextual-links-region:hover {}
  .contextual-links-trigger {
    display: none;
  }
  ul.contextual-links {
    background: #444;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    color: #fff;
    display: none;
    list-style: none;
    margin: 0;
    padding: 5px 0 5px 20px;
    position: absolute;
    right: -10em;
    text-align: left !important;
    top: -10px;
    width: 10em;
  }
    .contextual-links-region:hover ul.contextual-links {
      display: block;
    }
    .contextual-links a {
      color: #fff !important;
      font-size: 12px !important;
      font-style: normal !important;
      font-weight: normal !important;
    }
      .contextual-links a:hover {
        color: orange !important;
      }
.description, .status-description {
  font-size: .75em;
  margin: .1em 0 0;
}
  .description {
    color: #888;
  }
  .status-description {
    padding: .1em 5.5em;
  }
.field {}
  .field-label {}
.field-type-image {
  margin-bottom: 1.5em;
}
.filter-wrapper {
  font-size: .75em;
  padding: .05em .1em;
}
  .ckeditor_links {
    background: #f7f7f7;
    display: block;
    font-size: .75em;
    padding: .2em 1.5em;
  }
  .filter-wrapper .form-item {
    margin: 0;
  }
  .filter-guidelines {
    display: none;
  }
.form-actions {
  margin: 1em 0;
  text-align: center;
}
.form-item {
  margin: 2.5em 0;
}
  .form-item .form-item,
  table .form-item {
    margin: 0;
  }
.form-required {
  color: #a44;
}
.hide, .element-invisible {
  display: none;
}
ul.inline {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
  .inline > li {
    display: inline-block;
  }
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
  .menu > li {
    float: left;
    margin: .1em .5em .1em 0;
    overflow: auto;
  }
    .menu > li a {
      float: left;
    }
.messages {
  font-style: italic;
  margin: .5em 0;
  padding: .5em;
}
  .dblog-alert,
  .dblog-critical, 
  .dblog-emerg,
  .dblog-error, 
  .error {
    background: #fdd;
    color: #a44;
  }
  .status, tr.info, .dblog-info {
    background: #def;
    color: #378;
  }
  .ok {
    background: #dfd;  
    color: #373;
  }
  .warning,
  .update tr.unknown,
  .dblog-php {
    background: #ffe;
    color: #863;
  }
.node {
  margin-bottom: 2em;
}
.node-form {
  margin: 0 auto;
  max-width: 960px;
}
.node-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  .node-links li {}
    .node-links li::after {
      content: '|';
    }
    .node-links li.last::after {
      content: '';
    }
.node-unpublished {
  background: #eee;
}
div.pager {
  margin: 1em auto;
  text-align: center;
}
  .pager ul > li {
    display: inline-block;
    margin: 0 .2em 0 0;
  }
    .pager li > a, .pager li > span {
      -moz-transition: background-color .1s ease-out;
      -webkit-transition: background-color .1s ease-out;
      border: 1px solid #ccc;
      display: inline-block;
      padding: .3em .5em;
      text-decoration: none;
      transition: background-color .1s ease-out;
    }
      .pager li > a:hover {
        background-color: #72b4ff;
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0,63,114,.5);
      }
  .pager-current > span {
    background-color: #ccc;
  }
  .pager-links li > a {
    min-width: 3em;
  }
.tabledrag-toggle-weight {
  font-size: .75em;
}
.tabs {
  background: #ccc;
  list-style: none;
  margin: 0;
  padding: 0 0 0 1em;
}
  .tabs.primary {}
  .tabs > li {
    display: inline-block;
    margin: 0 1em 0 0;
  }
    .tabs > li > a {
      -moz-transition: background-color .3s ease-out;
      -webkit-transition: background-color .3s ease-out;
      background: #ccc;
      color: #00274c;
      display: inline-block;
      padding: .5em 1em;
      transition: background-color .3s ease-out;
    }
      .tabs > li > a:hover {
        background: #72b4ff;
      }
      .tabs > li > a.active {
        background: #fff;
        border-top: 3px solid;
        outline: 1px solid #fff;
      }
  @media all and (max-width: 550px) {
    .tabs {
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: .8em;
      padding: 0;
    }
      .tabs > li {
        border-radius: 0;
        border-width: 0 0 1px 0;
        float: none;
        margin: 0;
      }
        .tabs > li:last-child {
          border-width: 0;
        }
        .tabs > li > a {
          display: block;
        }
  }
.theme-selector {}
  .theme-selector .screenshot {
    float: left;
    margin: 0 2em 0 0;
  }
  .system-themes-list-disabled .theme-selector {
    opacity: 0.5;
  }
.tipsy { 
  font-size: 10px;
  padding: 5px;
  position: absolute;
  z-index: 100000;
}
  .tipsy-inner {
    background-color: #0a2436; 
    border-radius: 3px;
    color: #fff;
    max-width: 200px;
    padding: 5px 8px 4px 8px; 
    text-align: center;
  }
  .tipsy-arrow {
    border: 5px dashed #0a2436;
    height: 0;
    line-height: 0;
    position: absolute;
    width: 0;
  }
    .tipsy-arrow-n { border-bottom-color: #0a2436; }
    .tipsy-arrow-s { border-top-color: #0a2436; }
    .tipsy-arrow-e { border-left-color: #0a2436; }
    .tipsy-arrow-w { border-right-color: #0a2436; }
  .tipsy-n .tipsy-arrow { 
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: none;
    left: 50%;
    margin-left: -5px;
    top: 0;
  }
    .tipsy-nw .tipsy-arrow {
      border-bottom-style: solid;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top: none;
      left: 10px;
      top: 0;
    }
    .tipsy-ne .tipsy-arrow {
      border-bottom-style: solid;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top: none;
      right: 10px;
      top: 0;
    }
  .tipsy-s .tipsy-arrow {
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-style: solid;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
  }
    .tipsy-sw .tipsy-arrow {
      border-bottom: none;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-style: solid;
      bottom: 0;
      left: 10px;
    }
    .tipsy-se .tipsy-arrow {
      border-bottom: none;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-style: solid;
      bottom: 0;
      right: 10px;
    }
  .tipsy-e .tipsy-arrow {
    border-bottom-color: transparent;
    border-left-style: solid;
    border-right: none;
    border-top-color: transparent;
    margin-top: -5px;
    right: 0;
    top: 50%;
  }
  .tipsy-w .tipsy-arrow {
    border-bottom-color: transparent;
    border-left: none;
    border-right-style: solid;
    border-top-color: transparent;
    left: 0;
    margin-top: -5px;
    top: 50%;
  }
.views-field-excluded {
  color: #888;
}

/*--Structure--*/
.page {
  margin: 0 auto;
  padding: 0;
}

.region {
  clear: both;
  margin: 0 0 3em;
  padding: 0;
}
.region > .inner {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}
  .block:after,
  .clearfix:after,
  .region > .inner:after {
    clear: both;
    content: ' ';
    display: table;
  }

  @media screen and (min-width: 1px) {
    .region > .inner {
      width: inherit;
    }
  }
  @media screen and (max-width: 960px) {
    .region {
      padding: 0 20px;
    }
  }

/* Region-specific */
.region-header {
  background: #eee;
  color: #222;
  border-bottom: .1em solid #ccc;
}
.region-content {}
